@font-face {
  src: url("../fonts/Poppinsregular.ttf");
  font-family: Poppins; }

@font-face {
  src: url("../fonts/Raleway-regular.ttf");
  font-family: Regular; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.overlay {
  background: #000000;
  opacity: 0.7;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1; }

.header__background {
  background: url("../../images/site2.jpg") center/cover;
  width: 100%;
  height: 100vh; }

.header__container {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 2; }

.header__textwrap {
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 300px; }

.header__title, .header__subtitle, .header__text {
  color: white;
  font-family: Raleway,Helvetica,sans-serif;
  margin: 0 0 40px; }

.header__title {
  letter-spacing: 0.5em;
  font-size: 70px;
  margin: 40px 0;
  line-height: 60px;
  animation: header__title 5s 1;
  position: relative; }

.header__subtitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  animation: header__subtitle 5s 1;
  position: relative; }

.header__text {
  font-size: 32px;
  line-height: 32px;
  animation: header__text 5s 1;
  position: relative; }

@keyframes header__title {
  0% {
    color: transparent; }
  30% {
    opacity: .1;
    letter-spacing: 25px; }
  85% {
    opacity: .2;
    letter-spacing: 15px; } }

@keyframes header__subtitle {
  0% {
    color: transparent;
    margin-bottom: -10px; }
  30% {
    opacity: .1;
    letter-spacing: 25px;
    margin-bottom: -10px; }
  85% {
    opacity: .2;
    letter-spacing: 8px;
    margin-bottom: -10px; } }

@keyframes header__text {
  0% {
    color: transparent;
    margin-bottom: -100px; }
  30% {
    opacity: .1;
    margin-bottom: -100px; }
  85% {
    opacity: .2;
    letter-spacing: 5px;
    margin-bottom: -100px; } }

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto; }

.navbar {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
  padding: 0;
  animation: navbar 3s 1; }

.navbar__item {
  list-style: none;
  padding: 24px 0; }

.navbar__link {
  color: white;
  text-decoration: none;
  font-family: Poppins,Helvetica,sans-serif;
  font-size: 30px;
  font-weight: 600;
  transition: .3s; }

.navbar__link--main {
  color: #f10e34; }

.navbar__link:hover {
  color: #f10e34;
  transition: .3s; }

@keyframes navbar {
  0% {
    margin-top: -100px; }
  10% {
    margin-top: -100px; }
  20% {
    margin-top: -100px; }
  25% {
    margin-top: -50px; }
  100% {
    margin-top: 0; } }

.about_me {
  width: 100%;
  height: 100vh;
  background-color: lightgrey; }

.arrow {
  animation: animate 1.5s infinite;
  animation-timing-function: linear;
  position: absolute;
  z-index: 10;
  left: 400px;
  top: 1200px;
  display: none; }

.arrow__block1 {
  background-color: white;
  height: 50px;
  width: 20px;
  margin-top: 7px; }

.arrow__block2 {
  background-color: transparent;
  width: 0;
  height: 40px;
  border-top: 40px solid white;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  margin-left: -20px; }

.arrow__circle {
  width: 120px;
  height: 120px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  margin-left: -52px;
  margin-top: -10px;
  border: 3px solid white; }

.arrow:hover .arrow__circle {
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px #888;
  box-shadow: 0 0 5px 5px #888; }

@keyframes animate {
  0% {
    margin-top: 20px; }
  50% {
    margin-top: 0; }
  100% {
    margin-top: 20px; } }

.sl_container {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0; }

.sl__img {
  width: 90%;
  height: 100%;
  display: block;
  margin: auto; }

.sl__link {
  height: 100%;
  width: 90%; }

.my-prevArrow, .my-nextArrow {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid black;
  opacity: .25;
  cursor: pointer;
  z-index: 99; }

.my-nextArrow {
  bottom: 200px; }

.my-prevArrow {
  bottom: 200px; }

.my-prevArrow:hover, .my-nextArrow:hover {
  opacity: 1; }

.sl__arrow {
  position: absolute;
  z-index: 100; }

.my-dots {
  position: absolute;
  bottom: -65px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center; }

.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none; }

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1; }

.my-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url("../../images/Rule_Segment_-_Circle_open_-_20px.svg");
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.my-dots li.slick-active button:before {
  opacity: .75;
  color: black; }
