.sl__container {
  width: 80%;
  margin: 0 auto;
}
.sl__img {
  width: 90%;
  height: 100%;
  display: block;
  margin: auto;
}
.sl__link {
  height: 100%;
  width: 90%;
}
.sl__my-prevArrow, .sl__my-nextArrow {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid black;
  opacity: .25;
  cursor: pointer;
  z-index: 99;
}
.sl__my-prevArrow:hover, .sl__my-nextArrow:hover {
  opacity: 1;
}

.sl__my-dots {
  position: absolute;
  bottom: -65px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.sl__my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.sl__my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.sl__my-dots li button:hover,
.sl__my-dots li button:focus {
  outline: none;
}

.sl__my-dots li button:hover:before,
.sl__my-dots li button:focus:before {
  opacity: 1;
}

.sl__my-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url("../../images/Rule_Segment_-_Circle_open_-_20px.svg");
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sl__my-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}
//.sl__slide {
//  position: relative;
//}
//.sl__text {
//  position: absolute;
//  width: 5%;
//  bottom: 0;
//  background-color: rgba(0, 0, 0, 0.5);
//  color: white;
//  text-align: center;
//  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
//}